on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Choose environment"
        required: true
        default: "staging"
        type: choice
        options:
          - staging
          - products 


jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: app 
              run: echo "wwwwwwwwwwwwwwww to ${{ inputs.environment }}"
